ion-content {
  --background: url('src/assets/backgrounds/forest_background.jpg') no-repeat center center / cover;
}


.join-room-title{
  text-align: center;
  color: white;
  font-size: 35px;
  text-shadow: 0 0 5px black,
              0 0 5px black,
              0 0 5px black,
              0 0 5px black;
  margin-top: 100px;
  padding-block-end: 100px;
}


.form-content ion-item {
  margin-top:  50px;
  margin-left: 50px;
  margin-right: 50px;
  // justify-content: center;
  // margin-bottom: 20px; /* Espacio entre los campos del formulario */
}

.save-button{
  margin-top:  50px;
  font-size: 50px;
  margin-left: 70px;
  margin-right: 70px;
}