/* Styles for the background of the game page */
.background {
  --background: url("src/assets/backgrounds/forest_background.jpg") no-repeat
    center center / cover;
}

/* Estilos para el fondo del modal personalizado */
.custom-modal-background {
  --background: white; /* fondo blanco para el modal */
  --backdrop-opacity: 0; /* si quieres quitar el fondo oscuro de fondo */
}

.flex-storyboard-container {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

.flex-storyboard-container > ion-title {
  font-size: 2px;
  // text-align: center;
}
.flex-storyboard-container > ion-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.row {
  display: flex;
}

.cell {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #e0e0e0;
}

.btn {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 70px;
}

.score-board {
  display: flex;
  gap: 10px;
}

.end-title {
  text-align: center;
  font-size: 15px;
}
