/* Fondo de la página */
.background {
  --background: url("src/assets/backgrounds/forest_background.jpg") no-repeat
    center center / cover;
}

/* Estilos del modal */
.custom-modal-background {
  --background: white;
  --backdrop-opacity: 0;
}

/* Contenedor de los marcadores */
.flex-storyboard-container {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

.flex-storyboard-container > ion-title {
  font-size: 2px;
}

.flex-storyboard-container > ion-card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

/* Tablero principal */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrado vertical */
  padding: 0.5rem;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin-top: 10px;
}

/* Filas del tablero */
.row {
  display: flex;
  justify-content: center; /* Centrado horizontal */
}

/* Celdas individuales */
/* Tamaño base para las celdas */
.cell {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: #e0e0e0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1px;
  flex: 0 0 auto;
}

/* Tamaños de celda según el número de columnas */
.board-30 .cell {
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.board-20 .cell {
  width: 20px;
  height: 20px;
  font-size: 14px;
}

.board-15 .cell {
  width: 15px;
  height: 15px;
  font-size: 12px;
}

.board-12 .cell {
  width: 12px;
  height: 12px;
  font-size: 10px;
}

.board-10 .cell {
  width: 10px;
  height: 10px;
  font-size: 8px;
}

//Imagen de la mina
.mine-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  pointer-events: none;
}
/* Imagen de la bandera */
.cell img.flag-image {
  width: 150%;
  height: 150%;
  object-fit: cover;
  transition: transform 0.2s;
}

.cell img.flag-image:hover {
  transform: scale(1.1);
}

/* Botones de modo bandera y pala */
.btn {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 70px;
}


/* Texto del modal de fin de juego */
.end-title {
  text-align: center;
  font-size: 15px;
}

.scoreboard-container{
  text-align: center;
}

.card-container{
  margin-top: 100px;
}
