<ion-content [fullscreen]="true">
  <div class="title">
    <ion-text class="main-title">Minesweeper</ion-text>
    <div class="creators-paragraph">
      <ion-text class="text-xs subpixel-antialiased">
        Created by: Cristian Sierra & Daniel Mata
      </ion-text>
    </div>
  </div>

  <div class="center-buttons">
    <ion-button (click)="goToCreateRoom()" fill="clear">
      <img src="assets/icon/create_room.png" alt="Icono" />
    </ion-button>

    <ion-button (click)="goToJoinRoom()" fill="clear">
      <img src="assets/icon/join_room.png" alt="Icono" />
    </ion-button>

    <ion-button (click)="goToJoinAsSpectator()" fill="clear">
      <img src="assets/icon/spectator_icon.png" alt="Icono" />
    </ion-button>
  </div>
</ion-content>
