<ion-content [fullscreen]="true">
  <div class="title">
    <ion-text class="main-title">
      Minesweeper
    </ion-text>
    <div class="creators-paragraph">
      <ion-text class="text-xs subpixel-antialiased">
        Created by: Cristian Sierra
      </ion-text>
    </div>
  </div>

  
  <div class="center-buttons">
    <ion-button  routerLink="/create-room-page" fill="clear ">
      <img src="assets/icon/create_room.png" alt="Icono">
      <!-- <img src="assets/icon/create_room.png" alt="Icono" style="width: 206px; height: 130px;"> -->
    </ion-button>

    <ion-button  routerLink="/join-room-page" fill="clear">
      <img src="assets/icon/join_room.png" alt="Icono">
      <!-- <img src="assets/icon/join_room.png" alt="Icono" style="width: 206px; height: 130px;"> -->
    </ion-button>
  </div>
</ion-content>
