.title{
  margin-top: 100px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 4px black,
              0 0 4px black,
              0 0 4px black,
              0 0 4px black;
}

.main-title{
  font-size: 28px;
}

.creators-paragraph{
  font-size: 8px;
}
.center-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

ion-button{
  margin-top: 50px;
  // --background: #a0673e;
  // --background-hover: #8B4513; /* un marrón más oscuro para hover */
  // --background-activated: #A0522D;
  // box-shadow: 0 0 7px rgb(102, 57, 6),
  //             0 0 7px  rgb(102, 57, 6),
  //             0 0 7px rgb(102, 57, 6),
  //             0 0 7px  rgb(102, 57, 6);
}

ion-content {
  --background: url('src/assets/backgrounds/forest_background.jpg') no-repeat center center / cover;
}