.title{
  margin-top: 100px;
  text-align: center;
}


.logo{
  display: block;
  margin: 0 auto;
  width: auto;   // o el tamaño que quieras
  height: auto;   // para mantener proporción
}


.center-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centra verticalmente */
  align-items: center;      /* centra horizontalmente */
  // height: 100%;             /* ocupa todo el alto del contenido */
  padding: 20px;
}