<ion-content [fullscreen]="true" class="background">
  <div class="container-select-mode">
    <h1 class="select-mode">Select Mode</h1>
  </div>
  
  <div class="mode-buttons">

    <ion-button  routerLink="/join-room-page" fill="clear" (click)="setDifficulty(8, 10)">
      <img src="assets/icon/8x8_icon.png" alt="8x8" width="200">
    </ion-button>

    <ion-button  routerLink="/join-room-page" fill="clear" (click)="setDifficulty(10, 20)">
      <img src="assets/icon/10x10_icon.png" alt="10x10" width="200">
    </ion-button>

    <ion-button fill="clear" (click)="openCustomModal()">
      <img src="assets/icon/custom_icon.png" alt="custom" width="200">
    </ion-button>
  </div>
</ion-content>


<div class="custom-modal-background">
  <div>
    <ion-modal [isOpen]="openCustomButton" (didDismiss)="openCustomButton = false" cssClass="custom-small-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title class="small-font">Settings</ion-title>
            <ion-buttons slot="end">
              <ion-button class="small-font" (click)="openCustomButton = false">X</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
  
        <ion-content class="ion-padding">
          <ion-item>
            <ion-label position="stacked">Size</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="customSize"
              inputmode="numeric"
              required
              placeholder="8"
            ></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="stacked">Mines</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="customMines"
              inputmode="numeric"
              required
              placeholder="10"
            ></ion-input>
          </ion-item>
  
          <ion-button expand="block" (click)="confirmCustomGame()">Start Game</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</div>